<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857809918406-6rhn3jhmdc2mkeqespmm0jh226d8dl14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857809918406-6rhn3jhmdc2mkeqespmm0jh226d8dl14</string>
	<key>API_KEY</key>
	<string>AIzaSyAtQvkSYulio5TtAjD5KEQK2XVq5dkoWs8</string>
	<key>GCM_SENDER_ID</key>
	<string>857809918406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.kronox</string>
	<key>PROJECT_ID</key>
	<string>kronox-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>kronox-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857809918406:ios:b6faf2fd6d47b9bf67bac7</string>
	<key>DATABASE_URL</key>
	<string>https://kronox-v1.firebaseio.com</string>
</dict>
</plist>